@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

html {
  background: radial-gradient(#000, #111);
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}

.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: 230;
  user-select: none;
  user-drag: none;
}

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.info {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.error:before {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Lexend+Peta&display=swap');

:root {
	--text-color: #ecfcfc;
	--text-shadow-color: #3696d7;
	--background-color: #07142d;
}

version {
    display: none;
}

html, body, main 
{
  width: 100%;
  height: 100%;
  margin: 0;
	scroll-behavior: smooth; 
}

body:not(.edit) .for-edit {
	display: none !important;
}

body.edit section:first-of-type {
    margin-top: 40px;
}

main > section 
{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 
{
	font-family: 'Orbitron', sans-serif;
	color: var(--text-color);
	font-weight: bold;
	font-size: 35px;
	text-shadow: 5px 5px 10px var(--text-shadow-color);
}

p
{
	color: var(--text-color);
	font-size: 20px;
}



#name 
{
	margin-left: 30px;
	text-shadow: 5px 5px 10px var(--text-shadow-color);
	font-family: 'Orbitron', sans-serif;
	color: var(--text-color);
	font-size: 70px;	
  padding: .67rem 1rem .67rem 1rem;
  margin: 0;
}


#profilePicture 
{
	margin-right: 30px;
	margin-top: 20px;
	box-shadow: 0 20px 20px 0 rgba(252, 0, 0, 0.2), 0 20px 20px 0 rgba(25, 112, 212, 0.19);
	position: fixed;
  top: 1rem;
  
  left: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

#profilePicture.right
{
	
	right: 1rem;
	left: unset;
	
}

     
@keyframes run {
    from { right: 0;}
    to {right: 50%;}
}


#menu
{
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	list-style-type: none;
	margin-top: 60px;
}

a.topLinks 
{
	margin-left: 30px;
	display: inline;
	font-size: 35px;
	border-radius: 8px;
	text-shadow: 0px 0px 3px var(--text-color);
	line-height: 1.7em;

}

a.topLinks:link, a.topLinks:visited 
{
	color: #65a9f0;
  background-color: transparent;
  text-decoration: none;
	transition-duration: 0.5s;
}

a.topLinks:hover 
{
  color: #d98b98;
  text-decoration: underline;
	font-size: 37px;
	text-shadow: 0px 0px 20px #d98b98;
}

a.topLinks:active 
{
  color: var(--text-color);
  text-decoration: underline;
}


#aboutPage
{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 600px;
	text-align: left;
	font-family: 'Space Mono', monospace;
}


#projectsPage
{
	padding-top: 50px;
	padding-left: 300px;
	padding-right: 50px;
	text-align: left;
	font-family: 'Space Mono', monospace;
}

#projectsTop
{
	text-align: center;
}


a.projectLinks
{
	-webkit-box-shadow: 0 0 20px #d98b98;
	box-shadow: 0 0 20px #d98b98;
}


a.projectLinks:link, a.projectLinks:visited 
{ 
	color: var(--text-color);
  background-color: transparent;
  text-decoration: none;
	transition-duration: 0.5s;
}


.gridContainer 
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	border-radius: 5px;

}

.gridChild 
{
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
	color: var(--text-color);
	text-align: center;
}

.projectImages
{
	border-radius: 8px;
	-webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
	transition-duration: 0.5s;
}

.projectImages:hover
{
	border-radius: 8px;
	-webkit-box-shadow: 0 0 20px #d98b98;
  box-shadow: 0 0 20px #d98b98;
	-ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
	transition-duration: 0.7s;	
}


details 
{
	border: 2px solid #64829c;
	border-radius: 8px;
	padding: 0.5rem;
	-webkit-box-shadow: 0 0 20px #d98b98;
  box-shadow: 0 0 20px #d98b98;
}

details[open] summary ~ * 
{
	animation: sweep .8s ease-in-out;
}

details > summary 
{
	list-style-type: none;
}

details > summary::-webkit-details-marker 
{
	display: none;
}

details > summary::before 
{
	content: '▶️'; 
}

details[open] > summary::before 
{
	content: '🔽'; 
}


details[open] > summary 
{
	margin-bottom: 0.5rem;
}


@keyframes sweep 
{
  0% 
	{
		opacity: 0; 
		margin-left: -10px
	}
  100%
	{
		opacity: 1;
		margin-left: 0px
	}
}


#contactPage
{
	padding-top: 50px;
	text-align: center;
	font-family: 'Space Mono', monospace;
}

.fa, .far, .fab 
{
  padding: 20px;
  font-size: 100px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
	box-shadow: 0px 0px 20px #a4dec4;
	transition-duration: 0.5s;
	background: #65a9f0;
  color: var(--text-color);
}

.fa:hover, .far:hover, .fab:hover
{
	opacity: 0.7;
	-webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
	-ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
	transition-duration: 0.7s;		
}

.fa-download
{
	background-color: transparent;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#icons 
{
	text-align: center;
}

#footer
{
	background-color: var(--background-color);
	
	color: var(--text-color);
	font-family: Century;
	line-height: 38px;
	-webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
	text-align: center;
	width: 100%;
	height: 5%;
  margin: 0;
}


::-webkit-scrollbar 
{
  width: 10px;
}

::-webkit-scrollbar-track 
{
  background: var(--background-color);
}

::-webkit-scrollbar-thumb 
{
  background: #5d6c8b;
}

::-webkit-scrollbar-thumb:hover 
{
	background: #3b4965;
}

.input-edit 
{
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Space Mono', monospace;
	width: 90%;
	height: 30px;
	border-radius: 4px;

	border: none !important;
	margin-bottom: 10px;
}

#download_button
{
	border: none !important;
	border-radius: 8px;
	border-width: 0px;
	background-color: var(--text-shadow-color);
	display: inline-block;
	padding: 14px 28px;
	font-family: 'Lexend Peta', sans-serif;
	text-decoration: none;
	color: var(--text-color);
	text-align: center;
	margin-left: 30px;
	transition-duration: 0.5s;
}

#download_button:hover 
{
	-webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 5px #fff;
	transition-duration: 0.7s;
	cursor: pointer;
	background-color: #1872ae;
}

#toggleEdit
{
	background-color: transparent;
	border: none !important;
}


#toggleEdit:hover:after
{
	margin-top: 32px;
	content: "Edit template";
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#showEditMode
{
	background-color: var(--text-shadow-color);
	color: var(--text-color);
	font-family: Century;
	line-height: 38px;
	-webkit-box-shadow: 0 0 20px #fff;
	box-shadow: 0 0 20px #fff;
	text-align: center;
	width: 100%;
	max-height: 40px;
	height: 100%;
	margin: 0;
	margin-top: 0px;
	top: 0;
	position: fixed;
	z-index: 1;
	display: block;
}



.input-profilePictureSource 
{

	width: -moz-calc(100% - 400px);
	
	width: -webkit-calc(100% - 400px);
	
	width: -o-calc(100% - 400px);
	
	width: calc(100% - 400px);

	min-width: 200px;
}

.for-edit-icons 
{
	
	width: 100%;
	margin-right: auto;
	margin-left: 10px;
	display: grid;
	grid-template-columns: 50% 50%;
}

.for-edit label {
	color: var(--text-color);
}

.collapsible 
{
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
}


.collapsible:after 
{
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content 
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.input-profilePictureSource {
    margin-left: 10px;
}
